.main_navigation {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	color: var(--dark-text);
	height: 25vh;
	padding: 0 6rem;
}

.main_navigation-h2 {
	font-size: 2rem;
	font-weight: var(--bold);
	color: var(--primary-color);
}

.main_navigation-container {
	display: flex;
	justify-content: space-between;
	width: 50%;
}

.main_navigation-content {
	width: 30%;
	font-size: var(--large);
	background-color: var(--secondary-color);
	border-radius: var(--border-radius);
	color: var(--primary-color);
	border: none;
}